.header {
	position: relative;			/* относительное позиционирование */
	border: 1px dashed blue;	/* граница */
	margin: 10px;				/* внешние отступы */
	height: 250px;				/* высота блока */
    background: url(https://orig00.deviantart.net/424a/f/2016/027/e/2/wallpaper_geometric_color_22_2k_uhd_by_airworldking-d9pj983.png);	
}

.middle {
	border: 1px dashed blue;	/* граница */
	margin: 10px;				/* внешние отступы */
}
ul.main-menu {					/* главное меню */
	position: absolute;			/* абсолютное позиционирование */
    bottom: 10px;				/* позиция снизу */
}
ul.main-menu li {				/* ко всем элементам списка */
    display: inline-block;		/* выстроит элементы горизонтально*/
    margin-left: 20px;			/* внешний отступ слева */
    margin-right: 20px;			/* внешний отступ справа */
}
ul.main-menu li a {				/* */
    background-color: white;	/* цвет фона */
    padding: 10px;				/* внутренний отступ */
    border-radius: 7px;			/* закругление краёв */
    text-decoration: none;		/* убрать подчёркивание */
    color: black;				/* цвет текста */
}
ul.main-menu li a:hover {		/* при наведении мыши */
	background-color: black;	/* цвет фона */
	color: white;				/* цвет текста */
}

img.logo {						/* логотип */
    position: absolute;			/* абсолютное позиционирование */
    left: 50%;					/* позиция слева на половину экрана */
    top: 5px;					/* позиция сверху */
    margin-left: -89px;			/* отрицательный отсуп*/
}

.left-block {
	border: 1px dashed blue;	/* граница */
	margin: 10px;				/* внешние отступы */
}
.content {
	border: 1px dashed blue;	/* граница */
	margin: 10px;				/* внешние отступы */	
}

.footer {
	border: 1px dashed green;	/* граница */
	margin: 10px;				/* внешние отступы */
}